
ul.list button > span {
    display: none;
}

.trash {
    &:after {
        font-family: FontAwesome;
        content: @fa-var-trash-o;
    }
}

.preview {
    &:after {
        font-family: FontAwesome;
        content: @fa-var-eye;
    }
}

.ok {
    &:after {
        font-family: FontAwesome;
        content: @fa-var-check;
    }
}
