<!doctype html>
<html lang="en" data-ng-app="myTodo" data-ng-controller="appCtrl">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="<%= assetsRootpath %>css/app.css"/>
</head>
<body>
    <header data-ng-include="header()"></header>
    <div id="view-container" class="container" data-ng-view id="view"></div>
    <footer data-ng-include="footer()"></footer>
    <div id="locale-url" data-url="<%= assetsRootpath %>js/locale/{locale}/i18n<%= extensionPrefix %>.js"></div>
